// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;
$color-secondary-light: #1b3149;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-xl: 75em;   // = 1200px / 16px
$bp-lg: 62.5em; // = 1000px / 16px
$bp-md: 50em;   // = 800px  / 16px
$bp-sm: 37.5em; // = 600px  / 16px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5% = 10px;

  @media only screen and (max-width: $bp-xl) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  //3rd row's height will scale according to the viewport width
  grid-template-rows: 80vh auto 40vw repeat(3, auto);
  //Sidebar on the left, add 2 x 1fr columns around the 8 columns
  //so they are centered in the remainder of the viewport
  //and use minmax(6rem..) to impose a 60px min margin
  grid-template-columns:
    [sidebar-start] 8rem
    [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

    @media only screen and (max-width: $bp-lg) {
      //Move the sidebar to the top - remove the first column and
      //insert a row at the top
      grid-template-rows: 8rem 80vh auto 40vw repeat(3, auto);

      grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end];
    }

    @media only screen and (max-width: $bp-md) {
      //Add an extra row to move the realtors area into
      //Also only need to declare the first 2 rows with explicit
      //heights - the remaining rows will be added to the implicit
      //which will fit to their content
      grid-template-rows: 8rem calc(100vh - 8rem);
    }
}
