.realtors {
    background-color: $color-secondary;

    grid-column: col-start 7 / full-end;

    @media only screen and (max-width: $bp-md) {
        grid-column: 1 / -1;
      }

    display: grid;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2rem;
    justify-items: center;

    padding: 3rem;

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
        justify-content: center;
        align-content: center;

        @media only screen and (max-width: $bp-md) {
            grid-auto-flow: column;

            // OR can repeat the 2 column tracks 3 times to make 6 columns
            //grid-template-columns: repeat(3, min-content max-content);
        }

        @media only screen and (max-width: $bp-sm) {
            grid-auto-flow: row;
        }
    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -.5rem;
    }
}